<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
<li class="menu__entry"><a href="https://blog.sinzmise.top/">Blog</a></li>
<li class="menu__entry"><a href="https://blog.sinzmise.top/diary/">Diary</a></li>
<li class="menu__entry"><a href="https://status.sinzmise.top/share/RCd0E8RpMOOhH3Or/%E4%B8%AD%E5%BC%A6%E5%B1%80%E9%A6%96%E9%A1%B5">Status</a></li>
<li class="menu__entry"><a href="{{ '/projects.html' | prepend: site.baseurl }}">Project</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fas fa-envelope"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fab fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
</ul>
</header>