.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.4s linear;
}
.loading-bar .progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #77b6ff;
    box-shadow: 0 0 10px rgba(119,182,255,0.7);
}
.loading-bar.loading {
    opacity: 1;
    transition: none;
}
.loading-bar.loading .progress {
    transition: width 0.4s ease;
}
